<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View All Languages</title>
</head>
<body>
<div class="container">
    <table class="table table-bordered">

        <tbody>
        <tr th:each="language : ${listLanguages}">
            <td th:text="${language.languageId}"></td>
            <td th:text="${language.languageName}"></td>
            <td th:text="${language.languageRule}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/main}">Back to choose</a>
</div>

</body>
</html>