<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add row</title>
</head>
<body>
<div class="container">

    <p th:text="${successMessage?.getMessage}">Something wrong will be there</p>

    <form th:action="@{/add-row}" th:object="${requestAddPairWordsDTO}" method="post"
          accept-charset="UTF-8">

        <select class="form-control" name="languageOfKeyUUID" id="languageOfKeyUUID">
            <option value="0">Выберите язык слова</option>
            <option th:each="languageWord : ${listLanguage}" th:value="${languageWord.getLanguageUUID}"
                    th:text="${languageWord.languageName}"></option>
        </select>

        <select class="form-control" name="languageOfTranslationUUID" id="languageOfTranslationUUID">
            <option value="0">Выберите язык перевода</option>
            <option th:each="languageTranslate : ${listLanguage}" th:value="${languageTranslate.getLanguageUUID}"
                    th:text="${languageTranslate.languageName}"></option>
        </select><br>

        <input type="text" th:field="*{wordKey}" placeholder="Введите ключ">
        <input type="text" th:field="*{wordTranslation}" placeholder="Введите значение"><br>

        <button type="submit" value="add-row">Сохранить строку</button>
    </form>

    <a th:href="@{/main}">Back to choose</a>
</div>

</body>
</html>