<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Search Row</title>
</head>
<body>

<div>
    <form action="#" th:action="@{/search-row/result}" method="GET" accept-charset="UTF-8">
        <input type="text" th:field="*{key}" placeholder="Введите ключ"><br>
        <div>
            <button>Найти по ключу</button>
        </div>
        <p th:text="${row}"/>
    </form>

    <a th:href="@{/add_row(id = ${id})}"
       th:text="Add"></a>

    <a th:href="@{/main}">Back to choose</a>
</div>

</body>
</html>