<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:formth="http://www.w3.org/1999/html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View All Rows</title>
</head>
<body>
<div class="container">

    <form th:object="${successMessage}"></form>
    <p th:text="${successMessage}">Here will be a Player age</p>


    <form th:action="@{/view-rows/search/result}"
          th:method="GET"
          accept-charset="UTF-8">
        <input type="text" name="wordValue" th:value="${wordValue}" placeholder="Find by Word Value" size="50">

        <button>Поиск</button>
    </form>

    <form th:action="@{/view-rows/result(dropDownListSourceLanguage=${dropDownListSourceLanguage}, dropDownListTargetLanguage=${dropDownListTargetLanguage})}"
          th:object="${listLanguage}" th:method="GET"
          accept-charset="UTF-8">

        <select class="form-control" name="dropDownListSourceLanguage" id="dropDownListSourceLanguage">
            <option value="">Выберите язык слова</option>
            <option th:each="languageWord : ${listLanguage}" th:value="${languageWord.languageUUID}"
                    th:text="${languageWord.languageName}"></option>
        </select>

        <select class="form-control" name="dropDownListTargetLanguage" id="dropDownListTargetLanguage">
            <option value="">Выберите язык перевода</option>
            <option th:each="languageTranslate : ${listLanguage}" th:value="${languageTranslate.languageUUID}"
                    th:text="${languageTranslate.languageName}"></option>
        </select>

        <div>
            <button>Выбрать языки</button>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Ключ</th>
            <th>Язык ключа</th>
            <th>Значение</th>
            <th>Язык значения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="builtRows : ${listBuiltRows}">
            <td th:text="${builtRows.key}"></td>
            <td th:text="${builtRows.nameLanguageOfKey}"></td>
            <td th:text="${builtRows.value}"></td>
            <td th:text="${builtRows.nameLanguageOfValue}"></td>
            <td>
                <form th:method="POST"
                      th:action="@{delete-row/{rowUUID}(rowUUID=${builtRows.rowUUID})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <br>

    <a th:href="@{/view-rows}"
       th:text="RESET"></a>

    <a th:href="@{/add-row}"
       th:text="Add"></a>

    <a th:href="@{/main}">
        Back to main menu</a>

</div>

</body>
</html>