<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View All Rows</title>
</head>
<body>
<div class="container">
    <table class="table table-bordered">

        <form th:action="@{/view-rows/result(dropDownListSourceLanguage=${dropDownListSourceLanguage}, dropDownListTargetLanguage=${dropDownListTargetLanguage})}"
              th:object="${listLanguage}" th:method="GET"
              accept-charset="UTF-8">

            <select class="form-control" name="dropDownListSourceLanguage" id="dropDownListSourceLanguage">
                <option value="0">Выберите язык слова</option>
                <option th:each="languageWord : ${listLanguage}" th:value="${languageWord.languageId}"
                        th:text="${languageWord.languageName}"></option>
            </select>

            <select class="form-control" name="dropDownListTargetLanguage" id="dropDownListTargetLanguage">
                <option value="0">Выберите язык перевода</option>
                <option th:each="languageTranslate : ${listLanguage}" th:value="${languageTranslate.languageId}"
                        th:text="${languageTranslate.languageName}"></option>
            </select>

            <div>
                <button>Выбрать языки</button>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>Ключ</th>
                <th>Язык ключа</th>
                <th>Значение</th>
                <th>Язык значения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="builtRows : ${listBuiltRows}">
                <td th:text="${builtRows.key}"></td>
                <td th:text="${builtRows.nameLanguageOfKey}"></td>
                <td th:text="${builtRows.value}"></td>
                <td th:text="${builtRows.nameLanguageOfValue}"></td>
            </tr>
            </tbody>
        </table>
    </table>
        <br>

        <a th:href="@{/add-row}"
           th:text="Add"></a>

        <a th:href="@{/delete-row}"
           th:text="Delete"></a>

        <a th:href="@{/search-row}"
           th:text="Search"></a>

        <a th:href="@{/main}">Back to choose</a>

</div>

</body>
</html>